body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

a :visited {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 16px;
} */

/* Track */
::-webkit-scrollbar-track {
    background: black;
} 

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00008B;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}