#title{
    background-color: white;
    color: #009cda;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.35rem;
    animation: show_title 2s ease-in-out;
}

@keyframes show_title {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@media only screen and (min-width: 360px){
    #title{
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 540px){
    #title{
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 768px){
    #title{
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 1024px){
    #title{
        font-size: 5rem;
    }
}
