#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
  animation: show_title 2s ease-in-out;
  margin-top: 0;
}

@keyframes show_title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#home_title {
  text-align: center;
  color: #009cda;
  font-size: 1rem;
}

@media only screen and (min-width: 280px) {
  #home_title {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 360px) {
  #home_title {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 540px) {
  #home_title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  #home_title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  #home_title {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  #home_title {
    font-size: 8rem;
  }
}
