#homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    animation: show_title 2s ease-in-out;
    margin-top: 0;
}

@keyframes show_title {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}